<div class="row">
  <div class="threequarter centered">
    <h1>Boiler Tubes</h1>
    <br>
    <p>Boiler tubes enjoy widespread use in industry, usually for the purposes of power or heat generation.
      Typically, boiler tubes will be used to create steam, which will then be redirected to whatever part of
      the system requires heat. By nature, boiler tubes have less risk associated with them because of the
      high temperatures the interior of boilers can reach.
      <br>
      <br>
      However, if a boiler tube becomes contaminated, the entire system that it belongs to still has the
      possibility of contamination. This is especially dangerous if the boiler tube is contaminated with a
      pathogen that can be contracted from airborne particles that can also survive high temperatures. Boiler
      tubes should be regularly maintained and thoroughly decontaminated to ensure that it is operating at
      minimum risk.
      <br>
      <br>
    </p>
    <figure>
      <%= image_tag "boiler.jpg", class: "pagepics" %>
      <figcaption></figcaption>
    </figure>
  </div>
</div>