<div class="row">
  <div class="threequarter centered">
    <h1>Chiller Tubes</h1>
    <br>
    <p>Chiller tubes are used to remove heat from a liquid. Chillers are used to cool water so that it can be
      used in an industrial setting (for example, to cool equipment), or to be used in air-conditioning systems.
      Chillers range from a capacity of 0.2 tons to thousands of tons; which type of cooler is used in a system
      depends entirely on what the system is to accomplish.
      <br>
      <br>
      Chillers typically remove waste heat using a separate water loop connected to a cooling tower. In a system
      like this it is possible for legionella bacteria to contaminate the system. If a cooling tower is to be
      decontaminated, it is highly recommended that the chiller be decontaminated as well, since contamination
      of chiller water is a strong possibility.
      <br>
      <br>
      Regardless, even in chiller systems that are not at risk for legionella, decontamination is encouraged,
      since contamination of chilled water can occur at any point along the system, which causes the whole system
      to be potentially contaminated.
      <br>
      <br>
    </p>
    <figure>
      <%= image_tag "Chiller.jpg", class:"pagepics" %>
      <figcaption></figcaption>
    </figure>
  </div>
</div>