<div class="row">
  <div class="threequarter centered">
    <h1>Dry Cooling Towers</h1>
    <br>
    <p>Dry cooling towers generally are the safest, but also the least effective. In dry cooling towers, heat
      transfers from the refrigerant to the outside, or heat transfers from the liquid refrigerant to an
      intermediary liquid (such as water or a glycol mixture) within a closed system, and then heat transfers
      from that liquid to the outside. This heat transfer is often facilitated by pumping air through the cooling
      tower.
      <br>
      <br>
      Dry cooling towers operate on a similar principle as window unit air conditioners&#59; the rear of the
      unit must be outside so that heat can transfer from the refrigerant to the outside. Because dry cooling
      towers consist of closed systems and do not necessarily contain water, legionella is generally a
      non&#45;issue.</p>

  </div>
</div>