<div class="row">
  <div class="threequarter centered">
    <h1>Hamilton By&#45;Law</h1>
    <br>
    <p>On the 9th of March 2011 the City of Hamilton passed a by&#45;law regarding cooling towers with the intent
      of curbing legionella growth and improving public health. The law requires all cooling towers in the City
      of Hamilton to be registered with the City of Hamilton and it requires all cooling towers to be inspected
      and maintained according to a Risk Management Plan.
      <br>
      <br>
      The Risk Management Plan must be prepared in accordance with all standards and protocols
      established by the American Society of Heating, Refrigerating, and Air&#45;Conditioning Engineers, as well
      as those established by the Cooling Technology Institute. Our procedures meet these standards to their
      fullest extent, including those standards related to decontamination, whether emergency or scheduled.
      <br>
      <br>
      The full by&#45;law can be found on the <a href="http://www.hamilton.ca/NR/rdonlyres/8748A02D-F8E7-4D8D-A9D7-1D4B5E019731/0/11078.pdf">City of Hamilton&#39;s web page (pdf)</a>.
    </p>

  </div>
</div>