<div class="row">
  <div class="threequarter centered">
    <h1>Heat-Exchanging Tubes</h1>
    <br>
    <p>Heat-exchanging tubes come in a variety of specifications, each suited to different needs. Heat-exchanging
      tubes will differ from one another in terms of length, diameter, thickness, shape, material, and so on. The type
      of heat-exchanging tube used in a certain system depends entirely on what the system is meant to accomplish.
      <br>
      <br>
      The primary capacity of heat-exchanging tubes is the transfer of heat from the environment into the material
      inside the tube or vice versa. The type of heat transfer needed will determine which type of heat-exchanging
      tube is ideal. However, heat-exchanging tubes may not be operating at maximum efficiency because of dirt,
      grime, or other contaminants.
      <br>
      <br>
      Contaminants on the exterior of heat-exchanging tubes function in a similar way to a layer of insulation;
      they will inhibit the transfer of heat and therefore the heat-exchanging system will not be operating at maximum
      capacity. Furthermore, it possible that certain contaminants may have a corroding effect on heat-exchaning tubes,
      depending on the material used and the contaminants in question.
      <br>
      <br>
      Shell casings are often used in conjunction with heat-exchanging tubes. In this situation, heat-exchanging
      tubes are arranged into a sheet, or some other kind of geometric shape, and then inserted into a cylindrical
      shell tube.
    </p>
    <figure>
      <%= image_tag "tube_heat.png", class:"pagepics" %>
      <figcaption></figcaption>
    </figure>
  </div>
</div>