<div class="row">
  <div class="threequarter centered">
    <h1>Hybrid Cooling Towers</h1>
    <br>
    <p>Hybrid cooling towers work similarly to both dry and wet cooling towers. In hybrid cooling towers, the
      liquid (usually water or a glycol mixture) that is used to cool the refrigerant is contained within a closed
      system, similarly to some dry cooling towers. This liquid is passed through pipes in the cooling tower,
      and water is sprayed onto those pipes. This process places hybrid cooling towers between dry and wet
      cooling towers in terms of effectiveness and risk.
      <br>
      <br>
      Legionella may still grow in the cooling tower, but the
      water that is exposed to the atmosphere does not become as warm, and may not reach optimal growth
      temperatures for legionella. Furthermore, less of that water will evaporate, reducing the risk of airborne
      legionella. Also, because the exposed water is separated from the refrigerant by another system of
      liquid, there is less chance that the legionella will enter an indoor environment this way through defects.
      However, it is advisable to maintain hybrid cooling towers to curb legionella growth anyway.</p>

  </div>
</div>