<div class="row">
  <div class="threequarter centered">
    <h1>How is Legionnaire&#39;s Disease Contracted?</h1>
    <br>
    <p>Legionnaire&#39;s Disease can be contracted by breathing air that contains droplets of water contaminated
      with legionella bacteria. Often, these droplets of water will trace their origin to a cooling tower, since
      pipes cycling in cooling towers are typically the perfect environment for legionella to grow, causing
      cooling towers to facilitate the evaporation of contaminated water. Cooling towers then push out this
      evaporated water and then the air will contain droplets of water contaminated with legionella.
      <br>
      <br>
      There is no evidence to suggest Legionnaire&#39;s Disease can be spread from person to person. Cases of
      legionellosis are usually found to have their origin in evaporative cooling systems &#45; if an origin is found at
      all. Airborne legionella can travel up to six kilometres. In outbreaks, such as the 2005 Toronto
      outbreak, nearby cooling towers not associated with the outbreak were also found to contain legionella.
      <br>
      <br>
      To sum up: while Legionnaire&#39;s Disease cannot be spread from person to person, legionella can travel
      very far distances and therefore outbreaks can be spread over a large area of population. When
      outbreaks occur, they are curbed by prompt and thorough inspection and decontamination of cooling
      towers and facility mechanical systems.
    </p>

  </div>
</div>