<div class="row">
  <div class="threequarter centered">
    <h1>What is Legionnaire&#39;s Disease?</h1>
    <br>
    <p>Legionnaire&#39;s Disease, referred to medically as legionellosis, is a potentially fatal respiratory illness. 90%
      of cases of Legionnaire&#39;s Disease are caused by legionella pneumophilia, a particularly common and
      resilient species of legionella. Legionellosis can present itself in a mild form as Pontiac Fever, which is
      characterized by flulike symptoms such as fever, chills, muscle aches, and headaches. However, if
      pneumonia accompanies these flulike symptoms then the illness is considered to be Legionnaire&#39;s
      Disease, also known as Legion Fever.
      <br>
      <br>
      People of any age can suffer Legionnaire&#39;s Disease. However, the illness most commonly affects
      the middleaged or the elderly, as well as smokers, those with preexisting lung conditions, or the
      immunocompromised. During outbreaks, it is reasonable to expect a large variety between people
      afflicted with the illness, and therefore it is not possible to target a specific demographic with preventative measures.
      <br>
      <br>
      The CDC states that Legionnaire&#39;s Disease has a fatality rate of anywhere between 5% to 30%
      depending on a number of variables, including the rapidity with which treatment is provided. Generally,
      Legionnaire&#39;s Disease will not be fatal if treatment is administered early to an otherwise healthy
      individual. However, a legionella infection that is hospitalacquired can reach a fatality rate of 50%,
      which indicates the sheer danger which Legionnaire&#39;s Disease can pose.
    </p>
    <figure>
      <%= image_tag "legion.jpg", class:"pagepics" %>
      <figcaption>This is an image of legionella pneumophilia bacteria.</figcaption>
    </figure>
    <br>

  </div>
</div>