<div class="row">
  <div class="threequarter centered">
    <h1>Ontario Occupational Health and Safety Act</h1>
    <br>
    <p><a href="http://www.e-laws.gov.on.ca/html/statutes/english/elaws_statutes_90o01_e.htm#s25s1">The Occupational Health and Safety Act of Ontario</a> spells out
      certain responsibilities of employers to maintain a safe work environment. Section 25 (1) (b) states that
      an employer must ensure that &quot;the equipment, materials and protective devices provided by the
      employer are maintained in good condition.&quot; This includes maintaining an environment free of infectious
      materials up to a reasonable level of risk. Legionella bacteria in cooling towers must therefore be controlled.
      <br>
      <br>
      Furthermore, Occupational Health and Safety Act contains a regulation pertaining to <a href="http://www.e-laws.gov.on.ca/html/regs/english/elaws_regs_930067_e.htm#s19s2">Health Care and
      Residential Facilities</a> that requires employers to ensure that any mechanical ventilation system is &quot;inspected every six months to ensure it is
      in good condition.&quot; Legionella bacteria in cooling towers can adversely affect the health of any who
      come within a wide vicinity of the cooling tower. A contaminated cooling tower cannot be expected to
      be in good condition.
      <br>
      <br>
      Our procedure uses these laws as guidelines when not dealing precisely with cooling towers involved in an employee&#45;employer
      relationship and when outside of a health care or residential facility context.
      These guidelines are highly successful at mitigating legionella growth and controlling the spread of legionella.
    </p>

  </div>
</div>