<div class="row">
  <div class="threequarter centered">
    <h1>2011 Playboy Mansion Outbreak</h1>
    <br>
    <p>In February of 2011, during a conference that culminated at a social event at the Playboy Mansion, 200
      attendees became ill with Legionnaire&#39;s disease. 69 attendees were taken ill the very same day of the
      event, out of 700 who were present.
      <br>
      <br>
      Legionella was not immediately suspected. Health officials contacted 439 attendees using social media
      to determine the magnitude of the epidemic and found 123 of them to be ill. At least four patients were
      hospitalized. Ultimately, no case was fatal thanks to quick intervention and medical care. However, the
      outbreak was on a massive scale and was later determined to be from a single source: the hot tub.

    </p>

  </div>
</div>