<div class="row">
  <div class="threequarter centered">
    <h1>Quebec Mandate</h1>
    <br>
    <p>In response to the Quebec City outbreak of Legionnaire&#39;s Disease, the province of Quebec has issued
      a mandate for the owners of commercially rented housing. From now on, cooling towers will have to
      follow a professionally designed program. This program will have to address, among other things, the
      procedure for decontamination, and must take into account the history of the cooling tower, including
      any previous major breakdowns. Furthermore, this information, including other information such as the
      results of previous inspections, must be kept in a registry on the premises.
      <br>
      <br>
      For full information, please consult the <a href="http://www2.publicationsduquebec.gouv.qc.ca/dynamicSearch/telecharge.php?type=3&file=/B_1_1/B1_1R3_A.HTM">Safety Code Building Act of Quebec</a>.
      The act addresses in part what this program will contain&#59; however, there are
      certain restrictions and protocols that are implicitly mentioned in the act as part of references, namely the
      CTI Legionella Control Program, ASHRAE Standards, and the AWT Legionella Statement.
      <br>
      <br>
      It is our expectation that these laws will be adopted with minor alterations by each provincial
      government. Our protocols and procedures take into account the Quebec Law, as they provide a useful
      yardstick to measure the validity of our approach.

    </p>

  </div>
</div>