<div class="row">
  <div class="threequarter centered">
    <h1>2012 Quebec City Outbreak</h1>
    <br>
    <p>In mid July of 2012, Quebec City experienced an outbreak of Legionnaire&#39;s Disease. Over the course
      of the next two months 180 people because ill and legionellosis, 13 of which died. It was not until
      September 7th when the outbreak was considered to be under control.
      <br>
      <br>
      The source of the outbreak was found to be a cooling tower on the building of the Complexe Jacques
      Cartier. The tower was tested twice: once on August 21st and once on August 28th. The legionella
      cultures grown from the samples taken from the cooling tower matched samples from the infected
      patients.
      <br>
      <br>
      Ultimately, public health authorities inspected and decontaminated cooling towers in over 100 buildings
      in the area associated with the outbreak and near the Complexe Jacques Cartier. Legionella bacteria
      can spread from cooling tower to cooling tower when airborne and can travel up to six kilometres. It
      was only after a period of time with no new cases and thoroughly decontaminated cooling towers that
      the outbreak was considered under control &#45; at large financial and human costs.
    </p>
    <figure>
      <%= image_tag "quebec.jpg", class:"pagepics" %>
      <figcaption>This is an image describing the areas in Quebec City in which cooling towers were inspected for legionella.</figcaption>
    </figure>
  </div>
</div>