<div class="row">
  <div class="threequarter centered">
    <h1>Refrigeration Condenser Coils & Evaporator Coils</h1>
    <br>
    <p>Refrigeration systems all contain two coils: evaporator coils and condenser coils. Evaporator coils
      remove heat from the area to be cooled and condenser coils remove that heat from the system. Such
      coils are also known as &quot;heat exchangers&quot;, because they serve to move heat from one environment to
      another. These coils can also be referred to as &quot;tubes&quot;.
      <br>
      <br>
      Condenser coils in refrigeration systems will typically be exposed to the outside so that heat can transfer
      through either the coil surface or a heat exchanger to the atmosphere. This can result in contamination of
      the condenser coil. Evaporator coils are typically not exposed to the outside&#59; however, evaporator coils
      that are contained in an environment that is poorly maintained can become contaminated. It is also
      important to note that condenser coils and evaporator coils are all part of the same system, so if one
      component (typically the condenser coil) becomes contaminated, the whole system must be decontaminated.
      <br>
      <br>
      If a coil is dirty or grimy, then the outside layer of dirt or grime will interfere with heat transfer, and the
      coil will lose some efficiency. If the coil is exposed to a biological contaminant such as mold spores or
      bacteria, it may result in mold or bacterial cultures growing on the exterior of the coil. Heat is a source
      of energy, so a coil in a dark area that is exposed to moisture can make a prime breeding ground for biological contaminants.
      <br>
      <br>
      Furthermore, a coil with biological contaminant on the exterior increases the risk of biological
      contamination within the coil itself. If the contaminant is near the break in the system, then the
      contaminant may enter the coil tubes. A biofilm can form on the interior of the tube, and the exterior
      contaminant can enter and either grow or facilitate growth. For example, mold that is growing on the
      exterior of the coil can provide nutrients to bacteria cultures growing on the interior.
      <br>
      <br>
      Once a coil is biologically contaminated, not only will the coil become more inefficient over time due to
      an inability to transfer heat, but if the coil develops a break or gap in it, then the contaminants can enter
      the system, and from there may enter wherever the system cools. Ultimately, the best way to prevent
      widespread biological contamination is to thoroughly and diligently maintain condenser coils with proper
      inspection and decontamination.</p>

  </div>
</div>