<div class="row">
  <div class="threequarter centered">
    <h1>Our Procedure</h1>
    <br>
    <p>Coil Clean Canada uses the latest state of the art technology for decontamination. The same
      technology is used by the Canadian Military to neutralize biological agents, as well as highly pathogenic superbugs
      resistant to antibiotics and other dangerous microorganisms. Our technology is approved by
      the World Health Organization &#45; our technology works.
      <br>
      <br>
      Our technology allows us to treat, in the most effective way possible, all different components of facility
      mechanical systems. In other words, not only will our method decontaminate the area of the cooling
      tower where legionella will become airborne and spread, our method will also decontaminate the area
      where legionella will grow in the first place.
      <br>
      <br>
      Long story short: Coil Clean Canada uses only the best technology available to thoroughly
      decontaminate all facility mechanical systems. We utilize product and equipment that has been through
      rigorous testing and more importantly has been used extensively through a wide range of commercial
      and military applications.
    </p>

  </div>
</div>