<div class="row">
  <div class="threequarter centered">
    <h1>2005 Toronto Outbreak</h1>
    <br>
    <p>In September and October of 2005, the Seven Oaks Home for the Aged in Toronto, Ontario
      experienced an outbreak of Legionnaire&#39;s Disease. 135 people were taken ill, including 70 residents, 39
      staff, and 20 visitors. Of these, 23 people died.
      <br>
      <br>
      The first case occurred on the 24th of September. Within three days, 6 residents of the Seven Oaks
      Home were ill&#44; three of which were hospitalized. By the 1st of October, 68 residents were ill&#59; 4 had
      died. Specimens from patients were tested&#59; they came back negative for legionella. It was not until the
      6th of October that legionella bacteria were identified in an autopsy &#45; almost a full two weeks after the
      initial infection.
      <br>
      <br>
      That same day, the Seven Oaks Home shut down its water and cooling systems for inspection. Initial
      tests of water samples were negative for legionella. The cooling towers were drained and samples
      were taken from the interior. Finally, on October the 21st &#45; almost a month after the outbreak &#45; the
      cooling tower was identified as being contaminated with legionella, along with three other cooling
      towers in the area.
      <br>
      <br>
      The outbreak had a 17% fatality rate, and over half of people infected were in serious enough condition to be hospitalized.
    </p>

  </div>
</div>