   <div class="row">
      <div class="threequarter centered">
        <h1>Wet Cooling Towers</h1>
        <br>
        <p>Wet cooling towers typically are the most effective, but also have the highest risk for legionella. Wet
          cooling towers operate on the concept of evaporative cooling. In evaporative cooling, water is used to cool the refrigerant for reuse.
          Then, that water (now warm) will be pumped to the cooling tower where it will be sprayed evenly over an evenly distributed packaging known as a &quot;fill&quot;. As the water is pulled
          down by gravity through the fill, air from the outside is pumped upward through the fill by the cooling tower. This causes a small amount of water to evaporate and be sent out into the atmosphere by the air
          passing through the tower, which is turn causes the water that falls through the fill to be significantly
          colder than the temperature of the air passing through. For this reason, wet cooling towers are
          considered to be highly effective, as the cold water is very potent within the cooling system.</p>
        <figure>
          <%= image_tag "wet.gif", class:"pagepics" %>
          <figcaption>This is a diagram of a wet cooling tower.</figcaption>
        </figure>
        <br>
        <p>However, for the very same reasons that wet cooling towers are effective, wet cooling towers also pose
          a significant risk for spreading legionella. Because the water that is being used to cool the refrigerant is
          exposed to the outside, there is a real chance of contamination. Legionella bacteria that have become
          airborne can travel up to six kilometres, which allows it to spread from cooling tower to cooling tower.
          Once legionella enters the water in the cooling tower, it will enter the cold water at the bottom and
          become dormant. From there, the contaminated water will be pumped into the system and become
          warm again in the pipes. In the pipes the legionella will become active and can grow, especially if the
          pipes have a biofilm on the edges, since the biofilm will provide essential nutrients. Legionella in the
          pipes can be pumped back out into the cooling tower, where it will either evaporate and be sent out into
          the atmosphere or fall through the fill into the cold water, and become dormant until that water enters the
          system again.
          <br>
          <br>
          The danger legionella in wet cooling towers pose is twofold. Legionella may enter the refrigerant
          system from the contaminated water system if there are defects in the system (for example, corrosion),
          and from there legionella may enter an indoor environment from the HVAC system. This risk can be
          minimized by proper maintenance. The other danger is that legionella in evaporated water is now
          airborne, and since legionella can survive for extended periods of time in the air, it may be possible for
          legionella to enter an environment through a fresh air intake. This risk can only be minimized by control of legionella in cooling towers.</p>
      </div>
   </div>