<div class="row">
  <div class="threequarter centered">
    <h1>What Are Cooling Towers?</h1>
    <br>
    <p>Cooling towers are heat removal devices that eject excess waste heat into the atmosphere. For complexes where largescale airconditioning
      is required, cooling towers are often a necessity. Cooling towers come in a variety of types and sizes to suit different needs&#59; however, all cooling towers can be
      classified into three different categories: dry, wet (also known as open), and hybrid (also known as closed). These categories describe the method with which heat is removed from the system, and also
      describes the risk level of a legionellosis outbreak. Heat is typically removed from an environment using the refrigeration cycle. The refrigeration cycle
      refers to the following process.
      <br>
      <br>
      First, liquid refrigerant is moved to the evaporator coils and is evaporated by heat transfer from the environment which is to be cooled. Second, the evaporated
      refrigerant is moved to a condenser coil where it becomes liquid. Third, heat from the liquid refrigerant is transferred out of the system (how this occurs depends on the system, and these differences define the
      classification). Finally, liquid refrigerant is moved back to the evaporator coils and the cycle begins
      again.</p>
    <figure>
      <%= image_tag "theory.gif", :class => "pagepics" %>
      <figcaption>This is a diagram of the refrigeration cycle.</figcaption>
    </figure>
  </div>
</div>